<div class="container">
  <div class="col-md-8">
    <h3>Hello, <%= @user.first_name %></h3>

    <h4>All the songs in our hub: </h4>
    <table class="table table-striped">
      <thead>
        <th>Artist</th>
        <th>Title</th>
        <th>No. of Times Song Has Been Added</th>
        <th>Add to Playlist</th>
      </thead>
      <tbody>
        <% @all_songs.each do |song| %>
          <tr>
            <td><%= song.artist %></td>
            <td><a href="songs/<%= song.id %>"><%= song.title %></a></td>
            <td><%= song.playlist_songs.count %></td>
            <td>
              <%= form_tag("/addsong", method: "post") do %>
                <%= hidden_field_tag(:song_id, song.id) %>
                <%= hidden_field_tag(:playlist_id, @user.playlist.id) %>
                <%= submit_tag("Add") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Add a Song:</h3>
    <%= form_for @new_song do |f| %>
      <div class="form-group">
        <%= f.label "Title:" %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label "Artist:" %>
        <%= f.text_field :artist %>
      </div>
      <%= f.submit "Add Song" %>
    <% end %>
  </div>
</div>
